<app-nav-cliente></app-nav-cliente>
<main style="margin-top: 58px; margin-left: 230px">
  <div class="container pt-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-auto">
            <a routerLink="/cliente" class="btn btn-primary"
              ><i class="fas fa-circle-plus me-2"></i> Agregar cliente
            </a>
          </div>
          <div class="col-auto">
            <form [formGroup]="form" class="d-none d-md-flex input-group w-auto my-auto">
              <input
                autocomplete="off"
                type="search"
                class="form-control rounded"
                placeholder='Buscar cliente por CUI'
                style="min-width: 225px"
                (keyup)="search()"
                formControlName="cuiSearch"
              />
              <span class="input-group-text border-0">
                <i class="fas fa-search"></i>
              </span>
            </form>
          </div>
          <!-- Search form -->
        </div>
      </div>
      <div class="card-body">
        <table class="table striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">NIT</th>
              <th scope="col">CUI</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Nombres</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clientes">
              <th>{{ c.nit }}</th>
              <th>{{ c.cui }}</th>
              <th>{{ c.apellidos }}</th>
              <th>{{ c.nombres }}</th>
              <th>
                <a class="btn btn-success"><i class="fas fa-pen-to-square"></i></a>
                <a class="btn btn-danger"><i class="fas fa-eye"></i></a>
                <a class="btn btn-primary"><i class="fas fa-circle-plus me-2"></i>Solicitud</a>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
